.container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #D1E5E1;
}

.shot {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border: solid 1px #f2f2f2;

}
.btn {
    background-color: #59A27A;
    color: white;
    border:none;
    border-radius: 10px;
    padding: 10px;

}

#less {
    display: block;
    float: left;
    background-color: #5AD;
}
#more {
    display: block;
    float: right;
    background-color: #C00C00;
}
